{% extends 'base.html' %}

{% block content %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&amp;display=swap" rel="stylesheet"/>

  <div class="font-roboto">
    <div class="container mx-auto px-4 py-1 max-w-3xl my-24">
      <div class="flex justify-between items-center mb-6">
        <h1 class="text-3xl font-bold">Profil Pengguna</h1>
      </div>
      <div class="bg-white shadow-md rounded-lg p-6">
        <div class="space-y-4">
          <div class="transform hover:translate-x-2 transition-transform duration-300">
            <h2 class="text-lg font-semibold text-gray-700 mb-1">
              <i class="fas fa-user text-gray-600 mr-2"></i>Nama:
            </h2>
            <p class="text-gray-900">{{ user.full_name }}</p>
          </div>
          <div class="transform hover:translate-x-2 transition-transform duration-300">
            <h2 class="text-lg font-semibold text-gray-700 mb-1">
              <i class="fas fa-user-tag text-gray-600 mr-2"></i>Username:
            </h2>
            <p class="text-gray-900">{{ user.username }}</p>
          </div>
          {% if user.email %}
          <div class="transform hover:translate-x-2 transition-transform duration-300">
            <h2 class="text-lg font-semibold text-gray-700 mb-1">
              <i class="fas fa-envelope text-gray-600 mr-2"></i>Email:
            </h2>
            <p class="text-gray-900">{{ user.email }}</p>
          </div>
          {% endif %}
          {% if user.role == 'buyer' and buyer %}
          <div class="transform hover:translate-x-2 transition-transform duration-300">
            <h2 class="text-lg font-semibold text-gray-700 mb-1">
              <i class="fas fa-map-marker-alt text-gray-600 mr-2"></i>Alamat:
            </h2>
            <p class="text-gray-900">{{ buyer.alamat }}</p>
          </div>
          <div class="transform hover:translate-x-2 transition-transform duration-300">
            <h2 class="text-lg font-semibold text-gray-700 mb-1">
              <i class="fas fa-phone text-gray-600 mr-2"></i>No. HP:
            </h2>
            <p class="text-gray-900">{{ buyer.no_hp }}</p>
          </div>
            <div class="transform hover:translate-x-2 transition-transform duration-300">
                <h2 class="text-lg font-semibold text-gray-700 mb-1">
                <i class="fas fa-venus-mars text-gray-600 mr-2"></i>Jenis Kelamin:
                </h2>
                <p class="text-gray-900">
                {% if buyer.jenis_kelamin == "L" %}
                    Laki-laki
                {% elif buyer.jenis_kelamin == "P" %}
                    Perempuan
                {% else %}
                    {{ buyer.jenis_kelamin }}
                {% endif %}
                </p>
            </div>
          {% endif %}
        </div>
      </div>
      <a href="{% url 'userprofile:edit_profile' %}" class="mt-6 inline-block bg-gray-500 text-white font-semibold py-2 px-4 rounded hover:bg-gray-600 transition duration-200">
        Update Profil
      </a>
    </div>
  </div>
{% endblock %}
