<nav class="bg-white shadow">
  <div class="max-w-7xl mx-auto px-4">
    <div class="flex justify-between h-16">
      <div class="flex">
        <div class="flex-shrink-0 flex items-center">
          <a href="{% url 'main:show_main' %}" class="text-2xl font-bold text-gray-800">FoFoodFafa</a>
        </div>
        <div class="hidden sm:-my-px sm:ml-6 sm:flex sm:space-x-8">
          <a href="{% url 'main:show_main' %}" class="border-transparent text-gray-500 hover:border-gray-300 hover:text-gray-700 inline-flex items-center px-1 pt-1 border-b-2 text-sm font-medium">Home</a>
          <a href="{% url 'katalog:main_view' %}" class="border-transparent text-gray-500 hover:border-gray-300 hover:text-gray-700 inline-flex items-center px-1 pt-1 border-b-2 text-sm font-medium">Menu</a>
          <a href="#" class="border-transparent text-gray-500 hover:border-gray-300 hover:text-gray-700 inline-flex items-center px-1 pt-1 border-b-2 text-sm font-medium">My Order</a>
          <a href="#" class="border-transparent text-gray-500 hover:border-gray-300 hover:text-gray-700 inline-flex items-center px-1 pt-1 border-b-2 text-sm font-medium">FafaPay</a>
          <a href="{% url 'checkout:view_cart' %}" class="border-transparent text-gray-500 hover:border-gray-300 hover:text-gray-700 inline-flex items-center px-1 pt-1 border-b-2 text-sm font-medium">Cart</a>
          {% if user.is_authenticated and user.is_admin %}
            <a href="{% url 'katalog:admin_dashboard' %}" 
            class="border-transparent text-gray-500 hover:border-gray-300 hover:text-gray-700 inline-flex items-center px-1 pt-1 border-b-2 text-sm font-medium">
            Dashboard Produk
            </a>
          {% endif %}
        
        </div>
      </div>
      <div class="flex items-center">
        {% if user.is_authenticated %}
          <span class="text-gray-700 mr-4">Hi, {{ user.username }}</span>
          <a href="#" class="text-gray-700 mr-4 border-transparent text-gray-500 hover:border-gray-300 hover:text-gray-700 inline-flex items-center px-1 pt-1 border-b-2 text-sm font-medium">Profile</a>
          <a href="{% url 'authentication:logout' %}" class="text-red-500 hover:text-red-700">Logout</a>
        {% else %}
          <a href="{% url 'authentication:login' %}" class="text-gray-500 hover:text-gray-700 mr-4">Login</a>
          <a href="{% url 'authentication:register' %}" class="text-gray-500 hover:text-gray-700">Register</a>
        {% endif %}
      </div>
    </div>
  </div>
</nav>
